<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.name %></title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="post">
        <h1><%= post.name %></h1>
        <p class="post-meta">Author: <%= post.author %> </p>
        <p>
            <ul>
                <% post.comment.forEach(comment => { %>
                <li>
                  <strong><%= comment.name %></strong>: <%= comment.content %>
                </li>
                <% }) %>
            </ul>
        </p>
    </div>
    
    <a href="/posts">Back to Posts</a>
</body>
</html>